*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 2700px;
    font-family: Arial, Helvetica, sans-serif;
background-color: #f5ead4;
/* margin-left: 200px; */
}
.navbarimg{
  width: 150px;
  height: 150px;
  left: 0px;
  top: 0px;
  /* z-index: 3; */
  float: left;
  margin-left: 200px;
border-radius: 50%;

}
.navbar {
  overflow: hidden;
  background-color:  #f5ead4;
}

.navbar a {
  float: left;
  font-size: 20px;
  color: #be9f77;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: #be9f77;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:  #2e1d07;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #f5ead4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color:  #2e1d07;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color:  #be9f77;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.nbar-icon{
  color: #2e1d07;
  top: 0px;
  right: 0px;
font-size: 26px;
padding: 10px;
margin-top: 5px;
}
.ss{
  margin-left: 100px;

}
.home-img{
  margin-top: 60px;
  height: 400px;
  width: 1000px;
  margin-left: 200px;
}
.Special{
  font-size: 50px;
  text-align: center;
  padding: 10px;
  color:#2e1d07;
  text-shadow: 0px 0px 10px #000000;
  margin-top: 50px;
}
.Special-div{
  width: 100px;
  height: 7px;
  background-color: #a17843;
  margin: auto;
  border-radius: 20px;
}

.s-d:hover .Special-div{
  width: 160px;
  transition: 3s;
}
.container2{
  overflow: auto;
  margin-left: 180px;
  margin-top: 30px;
}
.s-div2{
  width: 220px;
  height: 400px;
  /* background-color: #583609; */
  float:left;
  margin-top: 20px;
  /* padding: 10px; */
  margin:20px;
}
.special-img{
  width: 200px;
  height: 300px;

}
.s-icon{
  color:#a17843;
  font-size: 30px;
  visibility: hidden;
}
.s-div2:hover .s-icon{
  visibility: visible;
}
.special-h2{
  float: left;
  color:#2e1d07;
}
.special-p{
  color: #a17843;
}
.container3{
  width: 80%;
  /* background-color: #2e1d07; */
  margin-left: 200px;
  overflow: auto;
}
.p-div{
  width: 400px;
  height: 300px;
  float: left;
background-color:#f5ead4;
}
.p-icon{
  font-size: 60px;
  color: #583609;
  display: inline;
}
.p-h2{
  color: #583609;
  font-size: 40px;  
  display: inline;

}
.p-p{
  color:#a17843;
  font-size: 20px;
  /* display: block; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.p-img{
  width: 300px;
  height: 400px;
  float: left;
}
.p-img2{
  width: 305px;
  height: 250px;  
/* padding:  -50px; */
}

.p-img2:hover{
  /* transform: scale(1.5,1.5); */
transition: 1s;
  width: 320px;
  height: 265px;
}
.p-button{
  width: 60px;
  height: 30px;
  border: 1px solid #583609;
  border-radius: 5px;
  background-color:#f5ead4;
  color: #583609;
}
.service-continar{
  width: 1240px;
  height: 100px;
  background-color:#f5ead4;
  margin-left: 80px;
}
.service-free{
  width: 247px;
  height: 100%;
  border-right: solid 1px #583609;
  text-align: center;
  float: left;
}
.service-cash{
  width: 247px;
  height: 100%;
  border-right: solid 1px #583609;
  text-align: center;
  float: left;
}
.service-support{
  width: 247px;
  height: 100%;
  border-right: solid 1px #583609;
  text-align: center;
  float: left;
}
.service-discount{
  width: 247px;
  height: 100%;
  border-right: solid 1px #583609;
  text-align: center;
  float: left;
}
.service-replace{
  width: 247px;
  height: 100%;
  text-align: center;
  float: left;
}
.service-icon1{
  width: 60px;
  height: 60px;
  margin-left: 93px;
  background-image: url(../image/WhatsApp\ Image\ 2023-01-28\ at\ 5.07.08\ AM.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 3px;
  transition: all .5s;
}
.service-icon2{
  width: 60px;
  height: 60px;
  margin-left: 93px;
  background-image: url(../image/WhatsApp\ Image\ 2023-01-28\ at\ 5.07.08\ AM.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -261px;
  transition: all .5s;
}
.service-icon3{
  width: 60px;
  height: 60px;
  margin-left: 93px;
  background-image: url(../image/WhatsApp\ Image\ 2023-01-28\ at\ 5.07.08\ AM.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -525px;
  transition: all .5s;
}
.service-icon4{
  width: 60px;
  height: 60px;
  margin-left: 93px;
  background-image: url(../image/WhatsApp\ Image\ 2023-01-28\ at\ 5.07.08\ AM.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -791px;
  transition: all .5s;
}
.service-icon5{
  width: 60px;
  height: 60px;
  margin-left: 93px;
  background-image: url(../image/WhatsApp\ Image\ 2023-01-28\ at\ 5.07.08\ AM.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -1057px;
  transition: all .5s;
}
.service-icon1:hover{
  background-position: center -128px;
}
.service-icon2:hover{
  background-position: center -394px;
}
.service-icon3:hover{
  background-position: center -658px;
}
.service-icon4:hover{
  background-position: center -923px;
}
.service-icon5:hover{
  background-position: center -1190px;
}
.service-p{
  font: normal normal 18px Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  padding-top: 9px;
  letter-spacing: 1px;
color: #a17843;
}
.featured-h2{


font-size: 50px;
  text-align: center;
  padding: 10px;
  color:#2e1d07;
  text-shadow: 0px 0px 10px #000000;
  margin-top: 50px;
}
.featured:hover .Special-div{
  width: 160px;
  transition: 3s;
}
.container4{
  width: 80%;
  height: 900px;
  /* background-color: #2e1d07; */
  margin-left: 180px;
  overflow: auto; 
  margin-top: 30px;
  
}
.last{
  height: 380px;
  width: 30%;
  /* background-color: #a17843; */
  float: left;
  padding: 13px;
  
}
.overlay{
  width: 100%;
  height: 300px;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.2s;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.last-img:hover .overlay {
  transform: scaleX(1);
  opacity: 1;
}
.last-img2:hover .overlay {
  transform: scaleX(1);
  opacity: 1;
}
.last-img3:hover .overlay {
  transform: scaleX(1);
  opacity: 1;
}
.last-img4:hover .overlay {
  transform: scaleX(1);
  opacity: 1;
}
.last-img5:hover .overlay {
  transform: scaleX(1);
  opacity: 1;
}
.last-img6:hover .overlay {
  transform: scaleX(1);
  opacity: 1;
}
.pro-icons-continar{
  margin-top: 140px;
}
.product-icon{
  font-size: 40px;
  color: white;
  margin: 0 5px;
}
.last-img{
  position: relative;
  width: 100%;
  height: 300px;
  background-image:url(../image/WhatsApp\ Image\ 2023-02-04\ at\ 5.20.57\ PM.jpeg);
  background-size: cover;
 }
 .last-img2{
  position: relative;
  width: 100%;
  height: 300px;
  background-image:url(../image/WhatsApp\ Image\ 2023-02-04\ at\ 5.20.58\ PM\ \(1\).jpeg);
  background-size: cover;
 }
 .last-img3{
  position: relative;
  width: 100%;
  height: 300px;
  background-image:url(../image/WhatsApp\ Image\ 2023-02-04\ at\ 5.20.58\ PM\ \(2\).jpeg);
  background-size: cover;
 }
 .last-img4{
  position: relative;
  width: 100%;
  height: 300px;
  background-image:url(../image/WhatsApp\ Image\ 2023-02-04\ at\ 5.20.58\ PM\ \(3\).jpeg);
  background-size: cover;
 }
 .last-img5{
  position: relative;
  width: 100%;
  height: 300px;
  background-image:url(../image/WhatsApp\ Image\ 2023-02-04\ at\ 5.20.58\ PM.jpeg);
  background-size: cover;
 }
 .last-img6{
  position: relative;
  width: 100%;
  height: 300px;
  background-image:url(../image/k.jpg);
  background-size: cover;
 }
.checked {
  color: orange;
  /* padding: 5px; */
  margin-top: 5px;
}
.last-p{
  padding: 5px;
  color:#2e1d07;
  font-size: 20px;
}
.last-h2{
  color: #583609;

}
